body {
    background-image: url("../css/space2.jpg");
    background-image-opacity: 0.3;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #04395e;
}

.navigationBar {
    /* border: solid 1px blue; */
    width: 100%;
    margin-top: 0px;
    display: block;
    align-items: center;
    justify-content: center;
}

.header {
    font-family: 'Poiret One', sans-serif;
    font-family: 'Silkscreen', sans-serif;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 64px;
    border: solid 1px white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    color: white;
}

#results{
    border: solid 1px white;
    font-family: 'Poiret One', sans-serif;
    font-family: 'Silkscreen', sans-serif;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: white;
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    margin: 0px;
}

.GameBoard {
    /* border: solid 1px black; */
    padding: 5px;
    width: 300px;
    height: 400px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: auto;
}

.BoardRow {
    /* border: solid 1px black; */
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    animate__shakeX
}

.tile {
    border: solid 1px white;
    background-color: black;
    height: 52px;
    width: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row0Tile {
    font-family: 'Poiret One', sans-serif;
    font-family: 'Silkscreen', sans-serif;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 32px;
    /* -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: black; */
    border: solid 1px white;
    background-color: #031d44;
    color: white;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: 4px 2px;
}

.row1Tile {
    font-family: 'Poiret One', sans-serif;
    font-family: 'Silkscreen', sans-serif;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 32px;
    border: solid 1px white;
    background-color: #031d44;
    color: white;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: 4px 2px;
}

.row2Tile {
    font-family: 'Poiret One', sans-serif;
    font-family: 'Silkscreen', sans-serif;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 32px;
    border: solid 1px white;
    background-color: #031d44;
    color:white;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: 4px 2px;
}

.row3Tile {
    font-family: 'Poiret One', sans-serif;
    font-family: 'Silkscreen', sans-serif;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 32px;
    border: solid 1px white;
    background-color: #031d44;
    color: white;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: 4px 2px;
}

.row4Tile {
    font-family: 'Poiret One', sans-serif;
    font-family: 'Silkscreen', sans-serif;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 32px;
    border: solid 1px white;
    background-color: #031d44;
    color: white;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: 4px 2px;
}

.row5Tile {
    font-family: 'Poiret One', sans-serif;
    font-family: 'Silkscreen', sans-serif;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 32px;
    border: solid 1px white;
    background-color: #031d44;
    color: white;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: 4px 2px;
}

.KeyBoard {
    /* border: solid 1px black; */
    padding: 20px 20px;
    width: 650px;
    height: 200px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 30px;
}

.KBR {
    /* border: solid 1px white; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 60px;
    width: 580px;
    margin: 8px;
}

.key {
    font-family: 'Poiret One', sans-serif;
    font-family: 'Silkscreen', sans-serif;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 32px;
    color: white;
    background-color: #031d44;
    border: solid 1.5px white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 58px;
    border-radius: 5px;
}

#delete {
    font-family: 'Poiret One', sans-serif;
    font-family: 'Silkscreen', sans-serif;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 24px;
    color: white;
    border: solid 1px white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 58px;
    border-radius: 10px;
    background-color: #c36b8f;
}

#enter{
    font-family: 'Poiret One', sans-serif;
    font-family: 'Silkscreen', sans-serif;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 24px;
    color: white;
    border: solid 1px white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 58px;
    border-radius: 10px;
    background-color: #c36b8f;
}