body {
    background-image: url("../css/space2.jpg");
    background-image-opacity: 0.3;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #04395e;
}

.container{
    padding: 0 1em;
    border: solid   1px white;
    max-height: 900px;
    max-width: 640px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.navigationBar {
    width: 100%;
    max-width: 640px;
    border: solid   1px white;
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: fixed; */
    top: 0;
    left: 0;
}

#buttons{
    font-family: 'Poiret One', sans-serif;
    font-family: 'Silkscreen', sans-serif;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    padding: 20px;
    border: solid   1px white;
}

.music{
    padding: 10px;
}

.reset{
    padding: 10px;
}

#GameName {
    font-family: 'Poiret One', sans-serif;
    font-family: 'Silkscreen', sans-serif;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 88px;
    padding-left: 20px;
    /* padding-top: 10px; */
    /* width: 60%; */
    text-align: start;
    color: white;
    border: solid   1px white;
}

#results{
    font-family: 'Poiret One', sans-serif;
    font-family: 'Silkscreen', sans-serif;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: #f9f9f9;
    text-shadow: rgb(198, 43, 230) 1px 0 50px;
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50%;
    height: 80px;
    margin-top: 20px;
    margin-bottom:10px;
    background: rgb(03, 28, 68, .8);
    border: solid 1px white;
}

.GameBoard {
    border: solid 1px white;
    padding: 5px;
    max-width: 300px;
    height: 400px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: auto;
}

.BoardRow {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tile {
    border: solid 1px white;
    background-color: black;
    height: 52px;
    width: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row0Tile {
    font-family: 'Poiret One', sans-serif;
    font-family: 'Silkscreen', sans-serif;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 32px;
    border: solid 1px white;
    background-color: #031d44;
    color: white;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: 4px 2px;
}

.row1Tile {
    font-family: 'Poiret One', sans-serif;
    font-family: 'Silkscreen', sans-serif;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 32px;
    border: solid 1px white;
    background-color: #031d44;
    color: white;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: 4px 2px;
}

.row2Tile {
    font-family: 'Poiret One', sans-serif;
    font-family: 'Silkscreen', sans-serif;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 32px;
    border: solid 1px white;
    background-color: #031d44;
    color:white;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: 4px 2px;
}

.row3Tile {
    font-family: 'Poiret One', sans-serif;
    font-family: 'Silkscreen', sans-serif;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 32px;
    border: solid 1px white;
    background-color: #031d44;
    color: white;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: 4px 2px;
}

.row4Tile {
    font-family: 'Poiret One', sans-serif;
    font-family: 'Silkscreen', sans-serif;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 32px;
    border: solid 1px white;
    background-color: #031d44;
    color: white;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: 4px 2px;
}

.row5Tile {
    font-family: 'Poiret One', sans-serif;
    font-family: 'Silkscreen', sans-serif;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 32px;
    border: solid 1px white;
    background-color: #031d44;
    color: white;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: 4px 2px;
}

.KeyBoard {
    padding: 20px 20px;
    max-width: 640px;
    height: 200px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 10px;
    border: solid 1px rgb(221, 129, 129);
}

.KBR {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 60px;
    width: 580px;
    margin: 8px;
    border: solid 1px white;
}

.key {
    font-family: 'Poiret One', sans-serif;
    font-family: 'Silkscreen', sans-serif;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 32px;
    color: white;
    background-color: #031d44;
    border: solid 1.5px white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 58px;
    border-radius: 5px;
}

#delete {
    font-family: 'Poiret One', sans-serif;
    font-family: 'Silkscreen', sans-serif;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 24px;
    color: white;
    border: solid 1px white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 58px;
    border-radius: 10px;
    background-color: #c36b8f;
}

#enter{
    font-family: 'Poiret One', sans-serif;
    font-family: 'Silkscreen', sans-serif;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 24px;
    color: white;
    border: solid 1px white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 58px;
    border-radius: 10px;
    background-color: #c36b8f;
}