body {
    background-image: url("../css/space2.jpg");
    background-image-opacity: 0.3;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #04395e;
}

.container{
    padding: 0 1em;
}

#popup{
    border: 2px solid white;
    background-color: #c36b8f;
    padding: 20px;
    display:none;
}

.navigationBar {
    /* border: solid 1px white; */
    width: 100%;
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
}

#buttons{
    font-family: 'Poiret One', sans-serif;
    font-family: 'Silkscreen', sans-serif;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* border: solid 1px white; */
    width: 25%;
    color: white;
    padding-right: 50px;
}

.music{
    padding: 10px;
}

.instruction{
    padding: 10px;
}

.reset{
    padding: 10px;
}

#GameName {
    font-family: 'Poiret One', sans-serif;
    font-family: 'Silkscreen', sans-serif;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 88px;
    /* align-items: center; */
    /* justify-content: space-around; */
    padding-left: 100px;
    padding-top: 10px;
    width: 70%;
    /* border: solid 1px white; */
    text-align: start;
    color: white;
}

/* .header {
    border: solid 1px pink;
    display: inline-block;
    align-items: start;
    margin-left: 20px
    justify-content: space-between;
    color: white;
} */

#results{
    /* border: solid 1px white; */
    font-family: 'Poiret One', sans-serif;
    font-family: 'Silkscreen', sans-serif;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: #c7f1f1;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    margin-top:100px;
    margin-bottom:10px;
}

.GameBoard {
    border: solid 1px white;
    padding: 5px;
    max-width: 300px;
    height: 400px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: auto;
}

.BoardRow {
    /* border: solid 1px white; */
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tile {
    border: solid 1px white;
    background-color: black;
    height: 52px;
    width: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row0Tile {
    font-family: 'Poiret One', sans-serif;
    font-family: 'Silkscreen', sans-serif;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 32px;
    /* -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: black; */
    border: solid 1px white;
    background-color: #031d44;
    color: white;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: 4px 2px;
}

.row1Tile {
    font-family: 'Poiret One', sans-serif;
    font-family: 'Silkscreen', sans-serif;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 32px;
    border: solid 1px white;
    background-color: #031d44;
    color: white;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: 4px 2px;
}

.row2Tile {
    font-family: 'Poiret One', sans-serif;
    font-family: 'Silkscreen', sans-serif;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 32px;
    border: solid 1px white;
    background-color: #031d44;
    color:white;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: 4px 2px;
}

.row3Tile {
    font-family: 'Poiret One', sans-serif;
    font-family: 'Silkscreen', sans-serif;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 32px;
    border: solid 1px white;
    background-color: #031d44;
    color: white;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: 4px 2px;
}

.row4Tile {
    font-family: 'Poiret One', sans-serif;
    font-family: 'Silkscreen', sans-serif;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 32px;
    border: solid 1px white;
    background-color: #031d44;
    color: white;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: 4px 2px;
}

.row5Tile {
    font-family: 'Poiret One', sans-serif;
    font-family: 'Silkscreen', sans-serif;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 32px;
    border: solid 1px white;
    background-color: #031d44;
    color: white;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: 4px 2px;
}

.KeyBoard {
    border: solid 1px white;
    padding: 20px 20px;
    max-width: 650px;
    height: 200px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 10px;
}

.KBR {
    border: solid 1px white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 60px;
    width: 580px;
    margin: 8px;
}

.key {
    font-family: 'Poiret One', sans-serif;
    font-family: 'Silkscreen', sans-serif;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 32px;
    color: white;
    background-color: #031d44;
    border: solid 1.5px white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 58px;
    border-radius: 5px;
}

#delete {
    font-family: 'Poiret One', sans-serif;
    font-family: 'Silkscreen', sans-serif;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 24px;
    color: white;
    border: solid 1px white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 58px;
    border-radius: 10px;
    background-color: #c36b8f;
}

#enter{
    font-family: 'Poiret One', sans-serif;
    font-family: 'Silkscreen', sans-serif;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 24px;
    color: white;
    border: solid 1px white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 58px;
    border-radius: 10px;
    background-color: #c36b8f;
}